
.ourNavbar{
    padding: 10px 2%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px grey;
}

.navlinks > a{
   margin: 0px 3px; 
}

.navContent{
   font-weight: bold;
   font-size: large;
}

.joinUs{
    margin: 0px 20px 0px 70px;
}

.joinUsButton{
    border-radius: 10px;
    padding: 5px 40px;
    background-color: red;
    border: 2px solid white;
}

.joinUsButton:hover{
    background-color: white;
    border: 3px solid black;
    color: red;
    font-weight: 800;
}

@media only screen and (max-width: 600px) {
    .logo{
        width: 250px;
        height: 50px;
    }
}