@font-face {
  font-family: Audiowide;
  src: url('/fonts/Audiowide-Regular.ttf');
}

.textContainer{
    font-family: 'Audiowide';
    margin-top: 100px;
    margin-left: 10%;
    font-size: 4rem; 
    color: #EE1C30;
    margin-bottom: 100px;
}

.textContainer span{
    text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
    .textContainer{
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .textContainer{
        font-size: 2rem;
    }
}
