
@font-face {
  font-family: Audiowide;
  src: url('/fonts/Audiowide-Regular.ttf');
}

.teamSection{
    font-family: 'Audiowide';
}

.title {
    font-size: 50px;
    margin: 60px 0px 60px 60px;
}


@media only screen and (max-width: 767px) {
    .oddCard {
        display: none;
    }
}

